:root{
  --primary-color: #1f5793;
  --primary-color-darker: #17406d;
  --complement-color: #fff;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.Menu{
  z-index: 100;
  position: fixed;
  top: 0;
  left:0;
  height: 60px;
  width: 60px;
}

.bm-item-list, .bm-menu-wrap{
  max-width: 65vw;
  background-color: var(--primary-color-darker);
}

.Menu ul{
  text-align: left;
  width: 50vw;
  background-color: var(--primary-color-darker);
  list-style-type: none;
  color: var(--complement-color);
}

.Menu li{
  overflow: hidden;
  vertical-align: bottom;
  display: block;
  white-space: nowrap;
}

.Menu li a{
  text-decoration: none;
  display: inline-block;
  padding: 10%;
  color: var(--complement-color);
}

.Menu li a:hover{
  display: block;
  color: var(--complement-color);
  background-color: var(--primary-color);
}

.Header {
  background-color:  var(--primary-color);
  background-image: url("/img/header-bg.jpg");
  background-position:bottom;
  background-attachment: fixed;
  display: inline-block;
  width: 100vw;
  color:  var(--complement-color);
  position: relative;
}

.Header p{
  color: var(--complement-color);
  font-size: 50px;
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.Header ul{
  bottom: -30px;
  right: 0px;
  position:absolute;
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.Header li{
  margin-left: 30px;
  height: 30px;
  border-radius: 30px;
  background-color:  var(--primary-color-darker);
  display: inline-block;
  box-shadow: 2px 2px  rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px  rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px  rgba(0,0,0,0.3);
	-o-box-shadow: 2px 2px  rgba(0,0,0,0.3);
}

.Header li:hover{
  position: relative;
  border-radius: 100%;
  background-color:  var(--primary-color);
  display: inline-block;
}

.App-intro {
  font-size: large;
  height: 1000px;
}

.Component {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 94%;
  margin: 3%;
}

.Resume{
  padding-top: 5%;
  padding-bottom: 5%;
}

.Resume iframe{
  height: 68vh;
}

.Title {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color-darker);
}

.TextBox {
  text-align: left;
  width: 600px;
  margin:auto;
  padding-top:3%;
}

.Info-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
}

.Footer{
  z-index: 100;
  background-color: var(--primary-color-darker);
  bottom: 0;
  right: 0;
  left: 0;
  position:fixed;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Footer ul{
  font-size: 14px;
  text-align: center;
  list-style-type: none;
  padding-right: 10px;
  margin: 0;
  display: inline-block;
  color: var(--complement-color);
}

.Footer li{
  overflow: hidden;
  vertical-align: center;
  display: inline-block;
  width: 20%;
  max-width: 100px;
  height: 3vh;
  vertical-align: bottom;
  white-space: nowrap;
}

.Footer li a{
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: auto;
  width: 100%;
  height: 3vh;
  line-height: 3vh;
  color: var(--complement-color);
}

.Footer li a:hover{
  color: var(--complement-color);
  background-color: var(--primary-color);
}

@media screen and (max-width: 700px) {
  .TextBox {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
  }

}


/* TODO Look up animations
  @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
