:root{
  --primary-color: #1f5793;
  --primary-color-darker: #17406d;
  --complement-color: #fff;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: var(--complement-color);
  height: 60px;
  width: 60px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.bm-item-list, .bm-menu-wrap{
  top: 0;
  max-width: 65vw;
  background-color: var(--primary-color-darker);
  overflow-y: hidden;
  overflow-x: hidden;
}

.bm-overlay {
  top: 0;
}

.Menu{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 64px;
  text-align: center;
  background: rgba(23, 64, 109, 0.8);
}

.Menu ul{
  text-align: left;
  width: 50vw;
  background-color: var(--primary-color-darker);
  list-style-type: none;
  color: var(--complement-color);
}

.Menu li{
  overflow: hidden;
  vertical-align: bottom;
  display: block;
  white-space: nowrap;
}

.Menu li a{
  text-decoration: none;
  display: inline-block;
  padding: 10%;
  color: var(--complement-color);
}

.Menu li a:hover{
  display: block;
  color: var(--complement-color);
  background-color: var(--primary-color);
}

.highlight {
  background: rgba(23, 64, 109, 0.8);
}

.Header {
  background-color:  var(--primary-color);
  background-image: url("/img/decay.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:bottom;
  background-attachment: absolute;
  display: inline-block;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  color:  var(--complement-color);
  position: relative;
}

.Header .heading{
  color: var(--complement-color);
  font-size: 50px;
  text-shadow: 0 0 5px black, 0 0 20px black;
  margin-top: 30vh;
  margin-left: 5vw;
  margin-right: 5vw;
  top: 0;
  left: 0;
  text-align: left;
  position: absolute;
  text-shadow: 0 0 1px black;
}

.Header .heading h1{
  font-size: 7vh;
}

.Header .heading h2{
  font-size: 3vh;
}

.Header .media{
  z-index: 100;
  position:fixed;
  right: 15px;
  list-style-type: circle;
  padding-top: 10px;
}

.Header ul{
  bottom: -30px;
  right: 0px;
  position:absolute;
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.Header li{
  margin-left: 30px;
  height: 30px;
  border-radius: 30px;
  background-color:  var(--primary-color-darker);
  display: inline-block;
}

.Header li:hover{
  position: relative;
  border-radius: 100%;
  background-color:  var(--primary-color);
  display: inline-block;
  box-shadow: 2px 2px  rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px  rgba(0,0,0,0.3);
  -webkit-box-shadow: 2px 2px  rgba(0,0,0,0.3);
  -o-box-shadow: 2px 2px  rgba(0,0,0,0.3);
}

.App-intro {
  font-size: large;
  height: 1000px;
}

.Light{
  padding-top: 2%;
  padding-bottom: 5%;
  width: 100%;
  background-color: var(--complement-color);
}

.Light h1{
  font-weight: bold;
  font-size: 4vh;
  color: var(--primary-color-darker);
  text-align: left;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 1%;
}

.Dark{
  padding-top: 2%;
  padding-bottom: 5%;
  width: 100%;
  background-color: var(--primary-color-darker);
}

.Dark h1{
  font-weight: bold;
  font-size: 4vh;
  color: var(--complement-color);
  text-align: left;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 1%;
}

embed{
  height: 100vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.Title {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color-darker);
}

.TextBox {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

.Info-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
}

/* TODO Look up animations
  @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
