:root{
  --primary-color: #1f5793;
  --primary-color-darker: #17406d;
  --complement-color: #fff;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.Nav-bar{
  background-color: var(--primary-color-darker);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Nav-bar ul{
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--complement-color);
}

.Nav-bar li{
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 15vw;
  max-width: 120px;
  white-space: nowrap;
}

.Nav-bar li a{
  text-decoration: none;
  display: inline-block;
  padding: 10%;
  color: var(--complement-color);
}

.Nav-bar li a:hover{
  display: block;
  color: var(--complement-color);
  background-color: var(--primary-color);
}

.Header {
  background-color:  var(--primary-color);
  background-image: url("/img/header-bg.jpg");
  background-position:bottom;
  background-attachment: fixed;
  display: inline-block;
  width: 100vw;
  padding: 0;
  margin: 0;
  color:  var(--complement-color);
}

.Header p{
  color: var(--complement-color);
  font-size: 50px;
  text-shadow: 0 0 5px black, 0 0 20px black;

}

.Header media{
  position:fixed;
  left: 130px;
  list-style-type: circle;
  padding-top: 10px;
}

.Header media box{
  position:relative;
  margin-left: 60px;
}

.Header media box li{
  position:fixed;
  height: 30px;
  border-radius: 30px;
  background-color:  var(--primary-color-darker);
  display: inline-block;
  padding: 0;
  box-shadow: 2px 2px  rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px  rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px  rgba(0,0,0,0.3);
	-o-box-shadow: 2px 2px  rgba(0,0,0,0.3);
}

.Header media box li:hover{
  position: fixed;
  border-radius: 100%;
  background-color:  var(--primary-color-darker);
  display: inline-block;
  box-shadow: none;
  margin-left: 2px;
  margin-top: 2px;
}

.App-intro {
  font-size: large;
  height: 1000px;
}

.Component {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 94%;
  margin: 3%;
}

.Resume{
  padding-top: 5%;
  padding-bottom: 5%;
}

.Resume iframe{
  height: 68vh;
}

.Title {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color-darker);
}

.TextBox {
  text-align: left;
  width: 600px;
  margin:auto;
  padding-top:3%;
}

.Info-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
}

.Footer{
  background-color: var(--primary-color-darker);
  bottom: 0;
  right: 0;
  left: 0;zx
  position:fixed;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Footer ul{
  font-size: 14px;
  text-align: center;
  list-style-type: none;
  padding-right: 10px;
  margin: 0;
  color: var(--complement-color);
}

.Footer li{
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 20%;
  max-width: 100px;
  height: 3vh;
  white-space: nowrap;
}

.Footer li a{
  text-decoration: none;
  display: inline-block;
  padding: 10%;
  color: var(--complement-color);
}

.Footer li a:hover{
  display: block;
  color: var(--complement-color);
  background-color: var(--primary-color);
}

@media screen and (max-width: 700px) {
  .TextBox {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
  }

}


/* TODO Look up animations
  @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
