
#body{
  background-image: url("../img/avalanche.jpg");
  background-size: cover;
}

#main{
  max-width: 90vw;
  width: 70%;
  margin: auto;
  color: white;
  font-family: Roboto;
}

#count{
  background-color: rgba(36,36,36,.9);
  padding: 25px;
  font-size: 24px;
  margin: auto;
  margin-bottom: 25px;
}

#info{
  background-color: rgba(36,36,36,.9);
  padding: 25px;
  font-size: 20px;
  margin: auto;
  margin-bottom: 25px;
}

#info h{
  font-size: 28px;
  font-weight: bold;
}

#info a{
  color: #ccf5ff;
}

#info a:visited{
  color: #66e0ff
}

#info a:hover{
  color: #00a3cc;
}

#info img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
#info img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#creed{
  background-color: rgba(36,36,36,.9);
  padding: 25px;
}
